body {
  min-height: 100vh;
  // background-image: linear-gradient(
  //   to bottom,
  //   #dfe8d0,
  //   #d9ebc9,
  //   #d0efc4,
  //   #c5f3c0,
  //   #b7f7bf
  // );
}

.header {
  h1 {
    font-family: "Roboto", cursive;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #334d46;
    margin: 5rem 0rem 10rem 0rem;
  }
}

.color,
.size {
  font-family: "Montserrat", sans-serif;
  width: 73%;
  margin: auto;
  margin-bottom: 2rem;
  @include flex(flex-start, center, row);
  h4 {
    margin-right: 2rem;
  }
  button {
    font-family: "Montserrat", sans-serif;
    background-color: #fcfcfc;
    //font-family: "Sacramento", cursive;
    //font-style: italic;
    padding: 0.5rem 4rem;
    margin: 0rem 2rem 0rem 0rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.4s;
    border: 0.4rem solid #b0dab9;
    // box-shadow: 0 1px 5px 0 #b0dab9;
  }
  button:hover {
    transform: scale(1.1);
  }
  .size-choose {
    margin-right: 3.3rem;
  }
}

.color {
  margin-bottom: 2rem;
  button {
    color: #5c5f57;
  }
  button:nth-of-type(1) {
    color: #5c5f57;
  }
  button:nth-of-type(2) {
    color: #f1c565;
  }
  button:nth-of-type(3) {
    padding-right: 4rem;
    color: #696d61;
  }
}

.size {
  button {
    color: #5c5f57;
  }
}

.container {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 10rem;
  display: grid;
  width: 110rem;
  height: 80rem;
  grid-template-columns: repeat(var(--n, 16), 1fr);
  background-color: white;
  border: 1.5rem solid #6dac9d;
  border-radius: 0.3rem;
}
.gridCol,
.gridRow {
  cursor: pointer;
  border: solid rgb(238, 238, 238) 1px;
  border-radius: 0.3rem;
}
